html {
    height: 100%;
    font-size: 62.5%;
    background-color: #DDD;
}
body {
    font-size: 1.6em;
    margin: 0;
}
@page {
    margin: 0;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}
#container {
    font-family: "Courier New", Courier, monospace;
    overflow-y: scroll;
    position: fixed;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: -220;
}
#group-ele {
    display: block;
    text-align: center;
    line-height: 0;
}
#menu {
    z-index: -1;
    position: fixed;
    right: 0;
}
.btn {
    border-radius: 100%;
    background-color: rgba(255, 255, 255, .8);
    border: none;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, .2) 0 .4rem .4rem;
    padding: 1rem;
    display: block;
}
@media print {
    button {
        display: none;
    }
    #group-ele {
        padding-top: 0;
        padding-bottom: 0;
    }
    #container {
        overflow-y: visible;
        position: initial;
    }
}
.ele {
    display: inline-block;
    border: 1px solid silver;
    width: 31.4rem;
    margin: .8rem;
    overflow: auto;
    background-color: #FFF;
    padding: .8rem;
    text-align: left;
    page-break-inside: avoid;
    box-sizing: border-box;
}
@media print {
    .ele {
        margin: 2.8rem;
    }
}
.img {
    width: 100%;
}
.sequence {
    display: block;
    float: right;
    font-size: 2.6rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem 1rem 0;
    line-height: initial;
}
.action {
    display: block;
    height: 5.2rem;
    overflow: hidden;
    padding-top: .8rem;
    line-height: initial;
}
#form {
    display: none;
    max-width: 60%;
    margin: auto;
    background-color: rgba(255, 255, 255, .98);
    padding: 1.6rem;
    z-index: 1000;
}
#form::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
}
#form.display {
    display: block;
}
#form-img {
    width: 100%;
}
#form-sequence, #form-action {
    width: 100%;
    background-color: #EEE;
    border: none;
    margin-bottom: .8rem;
    font-family: "Courier New", Courier, monospace;
    font-size: 2.4rem;
}
#btn-folder-image {
    background-color: transparent;
    display: block;
    margin: auto;
    width: 24rem;
    height: 24rem;
    border-radius: 100%;
}
#btn-folder-image.selected {
    background-color: rgba(0, 0, 0, 0.2);
}
#svg-folder-image {
    margin: 2rem;
    width: 20rem;
    color: rgba(0, 0, 0, .8);
    fill: currentColor;
}
.icon-36 {
    width: 3.6rem;
    height: 3.6rem;
    fill: currentColor;
    color: rgba(0, 0, 0, .8);
}
.md-button {
    text-transform: uppercase;
}
.md-button {
    height: 2.8rem;
    padding: 1rem;
    line-height: 1rem;
    font-size: 1.4rem;
    border: none;
    background-color: transparent;
    float: right;
}
.md-button:hover, .md-button:focus {
    background-color: rgba(180, 220, 220, 0.5);
}
