html {
    height: 100%;
}
body {
    overflow-y: scroll;
    height: 100%;
}
#grid {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: auto;
    overflow-y: hidden;
    flex-flow: wrap;
    padding: .4rem;
}
#grid> li {
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    width: 24rem;
    min-width: 12rem;
    margin: .4rem;
    padding: .8rem;
    padding-bottom: 0;
    text-align: center;
    border: 1px solid silver;
    background-color: #FFF;
}
#grid > li:hover {
    outline: .3rem solid #CCC;
}
#grid .picture {
    min-height: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: silver;
}
#grid .picture img {
    width: 100%;
    display: block;
}
#svg-folder-image {
    margin: auto;
    width: 8rem;
    color: rgba(0, 0, 0, .8);
    fill: currentColor;
}
#grid span {
    padding: 1.6rem;
}
