html {
    height: 100%;
}
body {
    overflow-y: scroll;
    height: 100%;
}
.btn-delete {
    display: inline-block;
    opacity: 0;
    background: #fff;
    color: #444;
    font-weight: bold;
    border: 1px solid silver;
    border-radius: 100px;
    position: absolute;
    top: -1.3rem;
    height: 2.6rem;
    width: 2.6rem;
    left: -1.3rem;
    transition: opacity 0.4s;
}
.btn-delete:active {
    background: #ddd;
    color: #222;
}
#grid {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: auto;
    overflow-y: hidden;
    flex-flow: wrap;
    padding: .4rem;
}
#grid> li {
    position: relative;
    ;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    width: 24rem;
    min-width: 12rem;
    margin: 1.2rem;
    padding: .8rem;
    padding-bottom: 0;
    text-align: center;
    border: 1px solid silver;
    background-color: #FFF;
}
#grid> li:hover {
    outline: .3rem solid #CCC;
    cursor: pointer;
}
#grid> li:hover .btn-delete {
    opacity: 1;
}
#grid .picture {
    min-height: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: #000;
}
#grid .picture img {
    width: 100%;
    display: block;
}
#svg-folder-image {
    margin: auto;
    width: 8rem;
    color: rgba(255, 255, 255, .2);
    fill: currentColor;
}
#grid span {
    padding: 1.6rem;
}
form {
    float: right;
    width: 20rem;
}
form input {
    display: none;
}
form label {
    display: block;
    text-align: center;
}
label {
    opacity: .5;
}
:checked+ label {
    opacity: 1;
}
form img {
    width: 90%;
    margin: auto;
}
form select {
    display: block;
    width: 80%;
    margin: 2rem auto;
    font-size: 2rem;
    background-color: white;
}
