#container {
    overflow-y: scroll;
    position: fixed;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: -220;
}
#group-ele {
    display: block;
    text-align: center;
    line-height: 0;
}
#menu {
    z-index: -1;
    position: fixed;
    right: 0;
}
.btn {
    border-radius: 100%;
    background-color: rgba(255, 255, 255, .8);
    border: none;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, .2) 0 .4rem .4rem;
    padding: 1rem;
    display: block;
}
@media print {
    button {
        display: none;
    }
    #group-ele {
        padding-top: 0;
        padding-bottom: 0;
    }
    #container {
        overflow-y: visible;
        position: initial;
    }
}

.bg-action-0{
    background-color: transparent;
}
.bg-action-1{
    background-color: #F44336;
}
.bg-action-2{
    background-color: #E91E63;
}
.bg-action-3{
    background-color: #673AB7;
}
.bg-action-4{
    background-color: #2196F3;
}
.bg-action-5{
    background-color: #00BCD4;
}
.bg-action-6{
    background-color: #4CAF50;
}
.bg-action-7{
    background-color: #FFEB3B;
}
.bg-action-8{
    background-color: #FF9800;
}

.icon-36 {
    width: 3.6rem;
    height: 3.6rem;
    fill: currentColor;
    color: rgba(0, 0, 0, .8);
}
